@import '../../styles/variables';

.selected-work {
  h3 {
    color: $shade100;
    margin-bottom: 0.5rem;
  }

  em {
    display: block;
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
  }
}
