@import '../../styles/variables';

.select-button {
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: background-color ease-in-out 200ms, color ease-in-out 200ms;
}

.selected,
.select-button:hover {
  cursor: pointer;
  background-color: lighten($color: $dark, $amount: 5%);
  color: $highlight;
}

.select-button:active {
  transition: none;
  background-color: lighten($color: $dark, $amount: 10%);
}
