@import '../../styles/variables';

.work {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100%;

    .container {
      display: flex;
      min-height: 22rem;
      color: $shade300;

      .select {
        border-right-width: thin;
        border-right-color: $highlight;
        border-right-style: solid;
      }

      .info {
        padding: 1rem;
      }
    }
  }
}
