@import '../../styles/variables';

$transform-time: 400ms;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(12, 27, 51, 0.8);
  backdrop-filter: blur(6px);
  padding: 0 10%;
  z-index: 99;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;

    li {
      margin-bottom: 0;
      margin-right: 2rem;
      transition: transform ease-in-out $transform-time;

      &:last-child {
        margin: 0;
      }

      &:hover {
        transform: translateY(-2px);
      }

      &::before {
        content: '';
        width: 0rem;
        padding-right: 0rem;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color: $shade100;
    transition: all ease-in-out 300ms;

    &:hover,
    &:active,
    &.active {
      color: $highlight;
    }
  }

  .socials {
    display: flex;
    gap: 2rem;
    transition: transform ease-in-out $transform-time;

    a:hover {
      transform: translateY(-2px);
    }
  }
}
