@import '../../styles/variables';
// Adapted from https://codepen.io/jegedeolamide99/pen/MOqrZj

.inlineLink {
  padding-top: 10px;
  // color: lighten($color: $highlight, $amount: 10%);
  color: $highlight;

  &:hover {
    cursor: pointer;
  }

  &,
  span {
    position: relative;
    text-decoration: none;
    line-height: 24px;
  }

  &:before,
  &:after,
  span:before,
  span:after {
    content: '';
    position: absolute;
    transition: transform 0.5s ease;
  }

  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $highlight;
    transform: scaleX(0);
  }

  &:hover:before {
    transform: scaleX(1);
  }
}
