@import '../../styles/variables';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(12, 27, 51, 0.8);
  backdrop-filter: blur(6px);
  z-index: 200;
  transform: translateY(-100vh);
  transition: all ease-in-out 300ms;

  &.showModal {
    transform: translateY(0);
  }

  .relativeWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .closeButton {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 3rem;
      color: $shade100;
      transition: all ease-in-out 300ms;

      &:hover {
        color: $highlight;
        cursor: pointer;
      }
    }

    .modalContents {
      display: flex;
      align-items: center;
      flex-direction: column;

      a {
        text-decoration: none;
        font-size: 2rem;
        color: $shade100;
        transition: all ease-in-out 300ms;
        margin-bottom: 3rem;

        &:hover,
        &:active,
        &.active {
          color: $highlight;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
