@import url('https://rsms.me/inter/inter.css');
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: $shade100;
  background-color: $dark;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  margin: 3rem auto;
  width: 90%;
  max-width: 60rem;
}
