@import '../../styles/variables';

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.wrapper {
  height: min-content;
}

.columns {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.text {
  padding: 1rem;

  p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: $shade300;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image {
  aspect-ratio: 16 / 9;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.technologies {
  color: $shade200;
  margin-bottom: 1rem;
}
